# Keep these files out of the repo
/wp-content/themes/twenty*
/wp-content/themes/dv4/node_modules
/wp-content/upgrade
/wp-content/uploads
/wp-snapshots/
/wp-content/debug.log
/phpMyAdmin*
/sitemap.*
/wp-config.php
*.sql

# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*