/* Layout */

$w				: 1190px;
$c 				: 0 auto;
$gtr			: 0 10px;

/* Fonts */

$f 				: "Lato", Helveticca, sans-serif;

/* Colours */

$p  			: #302E47;

$g				: #07A56B;
$y				: #F8E71C;
$r				: #D0021B;
$bl             : #3887BE;

$lbl			: #2585C6;

$gy				: #4A4A4A;
$gy2			: #9B9B9B;
$lgy			: #E0E0E0;
$lgy2			: #F2F2F2;
$lgy3           : #F0F0F0;

$wht			: #FFFFFF;
$blk			: #000000;

$light			: #F4F6FA;

/* Sizes */

$xxxxl       	: 60px;
$xxxl			: 48px;
$xxl			: 36px;
$xl         	: 26px;
$l          	: 24px;

$n				: 20px;
$m          	: 18px;

$s          	: 16px;
$xs         	: 14px;
$xxs        	: 12px;
$xxxs			: 10px;

/* Styles */

$shadow         : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow2		: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);